{% extends "../layout/newUC.html" %} {% block title %}登录{% endblock %} {% block navbar %}登录{% endblock %}{% block header%}
<script src="{{cdnPath}}res/js/loginToBind{{hash}}.js"></script>
{%endblock%} {% block body %}
<main class="login-bind hidden">
    <div class="bind-info">
        <img src="/res/img/default.png" alt="">
        <p>亲爱的<span class="logintype"></span>用户：<span class="nick">&nbsp;</span></p>
        <p>为了更好的为您服务,需要您关联一个TCL帐号</p>
    </div>
    <p>还没有TCL帐号</p>
    <input type="button" class="toreg" value="注册并且关联" />
    <p>已有TCL帐号</p>
    <input type="button" class="tobind" value="立即关联" />
</main>
{%endblock%}