{% extends "../layout/newUC.html" %} {% block title %}找回密码{% endblock %}{% block navbar %}找回密码{% endblock %} {% block header%}
<script src="{{cdnPath}}res/js/resetpassword{{hash}}.js">
</script>
{%endblock%} {% block body %}
<div class="main" id="main">
    <!--Reset password html-->
    <div class="m-register reset-password">
        <!-- <h3 class="reset-title">重置密码</h3> -->
        <div class="m-register-item">
            <ul>
                <li class="bor-bott">
                    <div class="item">
                        <input class="fl item-input contact J-Contact" id="username" type="text" placeholder="请输入手机号或邮箱账号" />
                    </div>
                </li>
                <li class="bor-bott">
                    <div class="item">
                        <input class="item-input" type="text" placeholder="请输入验证码" id="codeTxt"  maxlength="6"/>
                        <a href="javascript:;" class="item-input-txt" id="sendCode">获取验证码</a>
                    </div>
                </li>
                <li class="bor-bott">
                    <div class="item">
                        <input class="fl item-input" type="password" placeholder="请输入新密码" id="password"/>
                        <div class="icon passwordSee fr iky-eye"></div>
                    </div>
                </li>
                <li class="bor-bott">
                    <div class="item">
                        <input class="fl item-input" type="password" placeholder="请输入确认密码" id="repwd"/>
                        <div class="icon passwordSee fr iky-eye"></div>
                    </div>
                </li>
            </ul>
            <div class="m-register-tip">
                密码长度8~16位，数字、字母、字符至少包含两种
            </div>
            <button class="m-option-submit y-registbtn disabled" id="submitBtn" disabled>提交</button>
        </div>
    </div>
    <!--Reset password html end-->
</div>
{%endblock%}